/* Utilities/Default */
:root {
    --primary-color: #10b981c4;
    --secondary-color: #dd2f6fdc;
    --dark-color: #f4f5f7;
    --white-color: #fff;
    --bg-color: linear-gradient(60deg, var(--primary-color), var(--secondary-color));
    --bg-gray: #8390A2;
    --dark: #000000;
}
body {
    font-family: sans-serif, 'lato';
    line-height: 1.6;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 20% auto;
    background-color: var(--bg-gray) !important;
}
.active {
    grid-template-columns: 50px auto;
    
}
.btn {
    background: var(--bg-color) !important;
}
.btn:hover {
    transform: translateX(1px);
    transition: ease-in;
}

/* sidebar */
aside {
    height: auto;
    background: var(--bg-color);
}

/* header */
nav {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   justify-content: center;
   align-items: center; 
}
header .fas,
.inventory span,
.customer-details ,
table .fas {
    color: var(--secondary-color);
}
.search {
    border: 1px solid var(--secondary-color);
    padding: 5px;
    border-radius: 50px;
    border-top-left-radius: 0;
}
.search input {
    border: 1px solid var(--primary-color);
    border-top-left-radius: 0 !important;
}

.inventory {
    margin: 0 auto;
}
.inventory .active {
    background-color: var(--secondary-color) !important;
    color: var(--white-color) !important;
}
.inventory .active span {
    color: var(--white-color) !important;
}
.data1 {
    animation: rotateIn 1s ease-in;
}
.data2,
.data3, 
.data4 {
    animation: slideInFromRight 1s ease-in;
}


/*Animations*/
@keyframes rotateIn {
    0% {
        transform: rotateY(-100deg);
    }
    50% {
        transform: rotateY(180);
    }
    100% {
        transform: rotateY(0);
    }
}
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes slideInFromTop {
    0% {
        transform: translatey(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateX(0);
    }
}

/* Tablets and Under */

@media (max-width: 850px) {
    body{
        grid-template-columns: 30px auto;
    }
    nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .title {
        order: 1;
    }
    .profile {
        order: 2;
        line-height: .5;
    }
    .profile img {
        width: 50px;
        height: 50px;
    }
    .search {
        order: 3;
        grid-column: 1/2;
        width: 100%;
        margin: 10px 0;
        border-bottom-right-radius: 0;
    }
    .search input {
        border-bottom-right-radius: 0 !important;
    }
    .data {
        animation: rotateIn 1s ease-in;
    }
}