/* Utilities/Default */
:root {
    --primary-color: #10b981c4;
    --secondary-color: #dd2f6fdc;
    --dark-color: #f4f5f7;
    --white-color: #fff;
    --bg-color: linear-gradient(60deg, var(--primary-color), var(--secondary-color));
    --bg-gray: #8390A2;
    --dark: #000000;
}
ul {
    list-style: none !important;
}
a {
    text-decoration: none !important;
}
body {
    font-family: sans-serif, 'lato';
    line-height: 1.6;
    margin: 0 auto;
    background-color: var(--bg-gray) !important;
}
.btn {
    background: var(--bg-color) !important;
}
.btn:hover {
    transform: translateX(1px);
    transition: ease-in;
}
.navigation-bar:hover {
    color: var(--primary-color);
}



.activeNav aside {
    width: 4.4%; 
     
}
.activeNav main {
    width: 95.6%;
}
.activeNav .sidetext {
    display: none;
}
.activeNav aside .fas {
    display: grid;
    justify-content: center;
}



/* sidebar */
aside {
    height: 100vh;
    background: var(--secondary-color);
    width: 19%;
    position: fixed;
    transition: 1s ease-in-out;
}
.list-group-item {
    background-color: inherit !important;
    border: none !important;  
    display: inline-block;
    
}
.list-group-item h4 {
    color: var(--white-color);
}
.list-group-item:hover:not(:first-child) {
    background-color: var(--white-color) !important; 
    border-radius: 500px 0 0 500px;
    margin-left: 10px;
    transition-timing-function: ease-in-out 2s;
}
.list-group-item:hover:not(:first-child) h4 {
    color: var(--secondary-color) !important;
}
.list-group-item.active {
    border: 2px dotted var(--primary-color) !important;
    border-radius: 500px 0 0 500px;
}


/* Main */
main {
    width: 81%;
    float: right;
    transition: 1s ease-in-out;
}

/* header */
nav {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   justify-content: center;
   align-items: center; 
}
header .fas,
.inventory span,
.customer-details ,
table .fas {
    color: var(--secondary-color);
}
.search {
    border: 1px solid var(--secondary-color);
    padding: 5px;
    border-radius: 50px;
    border-top-left-radius: 0;
}
.search input {
    border: 1px solid var(--primary-color);
    border-top-left-radius: 0 !important;
}

.inventory {
    margin: 0 auto;
}
.inventory .active {
    background-color: var(--secondary-color) !important;
    color: var(--white-color) !important;
}
.inventory .active span {
    color: var(--white-color) !important;
}
.data1 {
    animation: rotateIn 1s ease-in;
}
.data2,
.data3, 
.data4 {
    animation: slideInFromRight 1s ease-in;
}


/*Animations*/
@keyframes rotateIn {
    0% {
        transform: rotateY(-100deg);
    }
    50% {
        transform: rotateY(180);
    }
    100% {
        transform: rotateY(0);
    }
}
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes slideInFromTop {
    0% {
        transform: translatey(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateX(0);
    }
}
/* Responsiveness */
@media (max-width: 1050px) {
    aside {
        width: 24%;  
    }
    main {
        width: 76%;
    }
}

/* Tablets and Under */

@media (max-width: 850px) {
    /* body{
        grid-template-columns: 30px auto;
    } */
    /* nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
    } */
    
    aside {
        width: 6%;  
    }
    main {
        width: 94%;
    }
    .sidetext {
        display: none;
    }
    aside .fas, aside .fa {
        display: grid;
        justify-content: center;
        align-items: center;
    }

    .activeNav aside {
        position: fixed;
        top: 0;
        width: 250px;
        z-index: 15;  
        display: block;
        transition: 2s ease-in-out;

    }
    .activeNav main {
        width: 100%;
        opacity: 0.5;
        transition: 1s ease-in-out;
    }
    .activeNav header {
        z-index: 2;
    }
    .activeNav aside .fas,
    .activeNav aside .fa {
        display: inline-block;
        transition: 2s ease-in-out;
    }
    .activeNav .sidetext {
        display: inline-block;
        transition: 2s ease-in-out;
    }
    .activeNav .navigation-bar {
        z-index: 100 ;
        color: #dd2f6f;
        position: absolute;
        right: 0;
        display: block;
        opacity: 1 !important;
    }

    .title {
        order: 1;
    }
    .profile {
        order: 2;
        line-height: .5;
    }
    .profile img {
        width: 50px;
        height: 50px;
    }
    .search {
        order: 3;
        grid-column: 1/2;
        width: 100%;
        margin: 10px 0;
        border-bottom-right-radius: 0;
    }
    .search input {
        border-bottom-right-radius: 0 !important;
    }
    .data {
        animation: rotateIn 1s ease-in;
    }
}

@media (max-width: 575px) {
    aside {
        display: none;  
        width: 75%;
    }
    main {
        width: 100%;
    }
}